textarea {
  resize: none;

}
textarea.form-control {
  background-color: #444444;
  border: 1px solid #444444;
  color: white;
  border-radius: 1rem;
}
textarea.form-control:focus {
  box-shadow: none;
  border: 1px solid white;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga'1, 'calt'1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}


body {
  background-color: #222222;
  color: aliceblue;
  font-family: Inter;
}

.header-own {
  font-size: 50px;
  text-align: center;
}

.history-header {
  text-align: center;
}


button.btn.btn-light.btn-lg {
  transition-duration: 0.2s;
  color: black;
  margin-top: 1em;
  width: 20rem;
}

button.btn.btn-light.btn-lg:hover:not(:disabled) {
  background-color: #dddddd;
  color: black;
}

button.btn.btn-light.btn-lg:focus {
  color: #222222;
}

button.btn.btn-danger.btn-lg {
  transition-duration: 0.2s;
  color: white;
  background-color: #ff0000;
  margin-top: 1em;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
}

button.btn.btn-danger.btn-lg:hover {
  background-color: #e60000;
  color: rgb(214, 214, 214);
}

#butt-3 {
  background-color: transparent;
  color: red;
  outline: none;
  padding: 0px;
  padding-top: 0.3rem;
  margin-left: 1em;
}

#butt-3:active,
#butt-3:hover {
  box-shadow: none;
  color: rgb(184, 0, 0);
}


h2 {
  margin-top: 0;
}

.answer-own-1 {
  border: 1px solid rgb(106, 106, 255);
  background-color: rgba(47, 47, 255, 0.1);
  color: rgb(115, 115, 255);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  /* + background opacity*/
}

.answer-own-2 {
  border: 1px solid rgba(255, 60, 60);
  background-color: rgba(255, 47, 47, 0.1);
  color: rgba(255, 60, 60);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  /* + background opacity*/
}

.answer-own-3 {
  border: 1px solid rgba(60, 182, 60);
  background-color: rgba(47, 255, 47, 0.1);
  color: rgb(74, 209, 74);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  /* + background opacity*/
}

.class-for-global-historic {
  border: 1px solid white;
  border-radius: 3px;
  padding: 0px;
  margin-bottom: 10px;
}

.class-for-historic-block2-v-1 {
  background-color: rgba(0, 0, 255, 0.1);
  color: rgb(115, 115, 255);
  padding: 5px;
}

.class-for-historic-block2-v-2 {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 60, 60);
  padding: 5px;
}

.class-for-historic-block2-v-3 {
  background-color: rgba(0, 255, 0, 0.1);
  color: rgb(74, 209, 74);
  padding: 5px;
}
