[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
scikit-learn = "=1.3.2"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
